<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>03-web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>firstServlet</display-name>
    <servlet-name>firstServlet</servlet-name>
    <servlet-class>com.xing.servlet.firstServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>fwsw</servlet-name>
    <servlet-class>com.xing.servlet.fwsw</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>requestDemo</servlet-name>
    <servlet-class>com.xing.servlet.requestDemo</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>firstServlet</servlet-name>
    <url-pattern>/firstServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>fwsw</servlet-name>
    <url-pattern>/fwsw</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>requestDemo</servlet-name>
    <url-pattern>/requestDemo</url-pattern>
  </servlet-mapping>
</web-app>