<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>05-webcs</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SessionServlet</display-name>
    <servlet-name>SessionServlet</servlet-name>
    <servlet-class>com.xing.session.SessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet</servlet-name>
    <url-pattern>/SessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessioonServlet2</display-name>
    <servlet-name>SessioonServlet2</servlet-name>
    <servlet-class>com.xing.session.SessioonServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessioonServlet2</servlet-name>
    <url-pattern>/SessioonServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookieServlet</display-name>
    <servlet-name>CookieServlet</servlet-name>
    <servlet-class>com.xing.cookie.CookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieServlet</servlet-name>
    <url-pattern>/CookieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LastServlet</display-name>
    <servlet-name>LastServlet</servlet-name>
    <servlet-class>com.xing.cookie.LastServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LastServlet</servlet-name>
    <url-pattern>/LastServlet</url-pattern>
  </servlet-mapping>
</web-app>