<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <servlet>
    <servlet-name>ShowPageServlet</servlet-name>
    <servlet-class>cn.starsw.servlet.ShowPageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowServlet</servlet-name>
    <servlet-class>cn.starsw.servlet.ShowServlet</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>ShowPageServlet</servlet-name>
    <url-pattern>/ShowPageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowServlet</servlet-name>
    <url-pattern>/ShowServlet</url-pattern>
  </servlet-mapping>

</web-app>