<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- id表示获取到对象标识 class 创建哪个类的对象 -->
	<!-- 先配置的 myBatis的全局配置 数据库的链接等 -->
	<bean id="dataSouce"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/stu" />
		<property name="username" value="root"></property>
		<property name="password" value="110110"></property>
	</bean>

	<!-- 创建SqlSessionFactory对象 -->
	<bean id="factory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 数据库连接信息来源于dataSource -->
		<property name="dataSource" ref="dataSouce"></property>
	</bean>
	<!-- 写扫描器 相当于mybatis.xml中的mappers下package标签,扫描com.bjsxt.mapper包后会给对应接口创建对象 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 要扫描的包 -->
		<property name="basePackage" value="cn.starsw.mapper"></property>
		<!-- 和factory产生关系 -->
		<property name="sqlSessionFactory" ref="factory"></property>
	</bean>
	<!-- 由spring管理service实现类 -->
	<bean id="studentService" class="cn.starsw.service.StudentServiceImpl">
		<!-- studentMapper 首字母要小写 关联对象 -->
		<property name="studentmappr" ref="studentMapper"></property>
	</bean>

</beans>