<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

<!-- 给个对象 -->
<bean id="demo123" class="com.star.controller.DemoController"></bean>
<bean id="demo1" class="com.star.controller.Demo1Controller"></bean>
 <bean  class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
    	<property name="urlMap">
    		<map>
    			<!-- 解析出来控制器逻辑名 -->
    			<entry key="demo" value-ref="demo123"></entry>
    			<entry key="demo1" value-ref="demo1"></entry>
    		</map>
    	</property>
    </bean>

</beans>
