<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>02-web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletDEMO</display-name>
    <servlet-name>ServletDEMO</servlet-name>
    <servlet-class>com.xing.Resquest.ServletDEMO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDEMO</servlet-name>
    <url-pattern>/ServletDEMO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ser</display-name>
    <servlet-name>Ser</servlet-name>
    <servlet-class>com.xing.Resquest.Ser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ser</servlet-name>
    <url-pattern>/Ser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>responseDemo</display-name>
    <servlet-name>responseDemo</servlet-name>
    <servlet-class>com.xing.respose.responseDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>responseDemo</servlet-name>
    <url-pattern>/responseDemo</url-pattern>
  </servlet-mapping>
</web-app>