<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <servlet>
    <servlet-name>AirServlet</servlet-name>
    <servlet-class>cn.starsw.servlet.AirServlet</servlet-class>
  </servlet>

<servlet>
    <servlet-name>showLandServlet</servlet-name>
    <servlet-class>cn.starsw.servlet.showLandServlet</servlet-class>
  </servlet>




  <servlet-mapping>
    <servlet-name>AirServlet</servlet-name>
    <url-pattern>/AirServlet</url-pattern>
  </servlet-mapping>

 <servlet-mapping>
    <servlet-name>showLandServlet</servlet-name>
    <url-pattern>/showLandServlet</url-pattern>
  </servlet-mapping>


</web-app>